[run]
branch = True

omit =
    # omit bootstarp verb code
    */*_verbs/*
    # omit Django boilerplate
    moo/asgi.py
    moo/wsgi.py
    moo/urls.py
    moo/settings/dev.py
    moo/settings/local.py
    moo/shell/management/commands/moo_shell.py
    moo/core/management/commands/moo_init.py
