.coverage/
.coveragerc
.DS_Store
.git/
.gitignore
.gitlab-ci.yml
.local/
.pre-commit-config.yaml
.pytest_cache/*
.reload
.releaserc.json
.venv/
.vscode/
*.egg
*.gz
*.pyc
*.sql
*.sqlite
docs/*
extras/helm/*
commitlint.config.js
docker-compose.*
node_modules/
package-lock.json
package.json
static/
__pycache__
