*.gz
*.egg
*.pyc
*.sqlite
.DS_Store
.tm_properties
docker-compose.*
.reload
*.sql
static/*
.local/*
.git/*
.venv/*
node_modules/*
package-lock.json
package.json
node_modules
commitlint.config.js
chart/*
.vscode
.pytest_cache/*
.pre-commit-config.yaml
.gitlab-ci.yml
.gitignore
.coverage
.coveragerc
