*.gz
*.egg
*.pyc
*.sqlite
*.key
*.pem
*.sql
.DS_Store
.tm_properties
docker-compose.override.yml
.reload
.coverage
/static
/.local
.dccache
node_modules
.pytest_cache
__pycache__
.vscode
docs/build/*
docs/source/generated/*
