*.gz
*.tgz
*.egg
*.pyc
*.sqlite
*.sqlite3
*.key
*.pem
*.sql
.DS_Store
.tm_properties
compose.override.yml
.reload
.coverage
/static
/.local
.dccache
node_modules
.pytest_cache
__pycache__
.vscode/settings.json
docs/build/*
docs/source/generated/*
prof/
.claude
.venv
