__pycache__
.claude
.coverage
.dccache
.DS_Store
.local/*
.reload
.tm_properties
*.egg
*.gz
*.key
*.pem
*.pyc
*.sql
*.sqlite
*.sqlite3
*.tgz
compose.override.yml
docs/_build/*
docs/build/*
docs/source/generated/*
extras/agents/*/logs/*
extras/agents/*/builds/*
extras/pages/public/*
extras/pages/resources/_gen/*
extras/skills/game-designer/environments/*
node_modules/*
prof/*
static/*
